<body>
  <div class="block-left">
    <p>Репозитории в сервисе источнике</p>
    <button mat-raised-button [disabled]="processing" (click)="getSourceRepos()" >Обновить список репозиториев</button>
    <button mat-raised-button [disabled]="processing" (click)="syncAllWithSource()" >Синхронизировать всё с локальным хранилищем</button>
    <mat-list>
      <mat-list-item *ngFor="let item of sourceRepos">{{item.name}}
        <button mat-button (click)="syncWithSource(item)">
          <mat-icon *ngIf="item.status == null">autorenew</mat-icon>
          <mat-icon class="green" *ngIf="item.status == 200">done</mat-icon>
          <mat-icon class="red" *ngIf="item.status > 400">close</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="block-right">
    <p>Локальные репозитории</p>
    <button mat-raised-button [disabled]="processing" (click)="getRepos()" class="btn btn-default">Обновить список репозиториев</button>
    <button mat-raised-button [disabled]="processing" (click)="syncAllWithTarget()" class="btn btn-default">Синхронизировать всё с целевым сервисом</button>
    <mat-list>
      <mat-list-item *ngFor="let item of localRepos">{{item.name}}
        <button mat-button (click)="syncWithTarget(item)">
          <mat-icon *ngIf="item.status == null">autorenew</mat-icon>
          <mat-icon class="green" *ngIf="item.status == 200">done</mat-icon>
          <mat-icon class="red" *ngIf="item.status > 400">close</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</body>
